aaaa
= form_with model: @comment, local: true, class: 'form' do |form|
  .comments
    = form.label :chronological, "chronological" do
      = form.select :chronological, {}, {}, {class: "select-status"} do
        %option{value: 0} 過去からの自分
        %option{value: 1} 未来への自分
  .comment
    = form.label :text, "text" do
      = form.text_area :message, placeholder: "message", class: 'title'
    = form.submit "送信", class: 'send'
