- if user_signed_in?
  .main-padding
  .main-text
    .main-text__left
      %i.fa.fa-certificate.main-text__left--icon
        .main-text__left--icon__click
          クリック
      .main-text__left--past-bar
        %i.fa.fa-times.times01

        / チャートに関する記述ここから
        #status-wrapper
          -# - pInde = 0 & pExec = 0 & pCrea = 0 & pPlan = 0 & pTeam = 0 & pComm = 0
          -# - if @answers.present?
            -# - @past_independence.zip(@past_execution, @past_creativity, @past_planning, @past_teamwork, @past_communication).each do | past_independence, past_execution, past_creativity, past_planning, past_teamwork, past_communication |
            -#   - pInde += past_independence.answer.rank
            -#   - pExec += past_execution.answer.rank
            -#   - pCrea += past_creativity.answer.rank
            -#   - pPlan += past_planning.answer.rank
            -#   - pTeam += past_teamwork.answer.rank
            -#   - pComm += past_communication.answer.rank
          - pInde = @past_total_rank[0]
          - pExec = @past_total_rank[1]
          - pCrea = @past_total_rank[2]
          - pPlan = @past_total_rank[3]
          - pTeam = @past_total_rank[4]
          - pComm = @past_total_rank[5]
          #status-past-independence{data: {past_inde: pInde}}
            = "過去『主体性』累計: #{pInde}ポイント" 
          #status-past-execution{data: {past_exec: pExec}}
            = "過去『実行力』累計: #{pExec}ポイント"
          #status-past-creativity{data: {past_crea: pCrea}}
            = "過去『創造力』累計: #{pCrea}ポイント"
          #status-past-planning{data: {past_plan: pPlan}}
            = "過去『計画力』累計: #{pPlan}ポイント"
          #status-past-teamwork{data: {past_team: pTeam}}
            = "過去『チームワーク』累計: #{pTeam}ポイント"
          #status-past-communication{data: {past_comm: pComm}}
            = "過去『コミュニケーション』累計: #{pComm}ポイント"
          / チャート描画
          %canvas#myChart{height: "400",  width: "400"}
          = link_to "診断結果の詳細を見る", "#"
          / ここまで
      
    .main-text__center
      %i.fa.fa-certificate.main-text__center--icon
        .main-text__center--icon__click
          クリック
      .main-text__center--present-bar
        %i.fa.fa-times.times02
    .main-text__right
      %i.fa.fa-certificate.main-text__right--icon
        .main-text__right--icon__click
          クリック
      .main-text__right--future-bar
        %i.fa.fa-times.times03
- else
  .all
    .body
      .body--top
        .body--top__new
        .body--top__new
        .body--top__new.new01
          .new01--hidden
          .body--top__new--btn
            = link_to "新規登録", new_user_registration_path
      .body--center
        .body--center__h1
          This is Me
        %ul.body--center__h2
          %li.body--center__h2--comment-text
            過去の自分
          %li.body--center__h2--comment-text
            未来の目標
          %li.body--center__h2--comment-text
            現在やらなくてはいけないこと
      .body--bottom
        .body--bottom__log-in
          = link_to "ログイン", new_user_session_path
      .body--description-line
    .description
