- if user_signed_in?
  .main-padding
  .main-text
    .main-text__left
      %i.fa.fa-certificate.main-text__left--icon
        .main-text__left--icon__click
          - if @past_total_rank == [0, 0, 0, 0, 0, 0]
            = link_to "過去を分析する", past_new_answers_path
          - else
            過去の分析結果を表示する
      .main-text__left--past-bar
        %i.fa.fa-times.times01
        / チャートに関する記述ここから
        #status-wrapper
          - pInde = @past_total_rank[0]
          - pExec = @past_total_rank[1]
          - pCrea = @past_total_rank[2]
          - pPlan = @past_total_rank[3]
          - pTeam = @past_total_rank[4]
          - pComm = @past_total_rank[5]
          #status-past-independence{data: {past_inde: pInde}}
            = "過去『主体性』累計: #{pInde}ポイント" 
          #status-past-execution{data: {past_exec: pExec}}
            = "過去『実行力』累計: #{pExec}ポイント"
          #status-past-creativity{data: {past_crea: pCrea}}
            = "過去『創造力』累計: #{pCrea}ポイント"
          #status-past-planning{data: {past_plan: pPlan}}
            = "過去『計画力』累計: #{pPlan}ポイント"
          #status-past-teamwork{data: {past_team: pTeam}}
            = "過去『チームワーク』累計: #{pTeam}ポイント"
          #status-past-communication{data: {past_comm: pComm}}
            = "過去『コミュニケーション』累計: #{pComm}ポイント"
          / チャート描画
          %canvas#pChart{height: "400",  width: "400"}
          = link_to "診断結果の詳細を見る", past_index_answers_path
          / ここまで
          - if @past_total_rank != [0, 0, 0, 0, 0, 0]
            = link_to "回答を全て削除する",past_destroy_answers_path, method: :delete
    .main-text__center
      %i.fa.fa-certificate.main-text__center--icon
        .main-text__center--icon__click
          - if @now_total_rank == [0, 0, 0, 0, 0, 0]
            = link_to "現在を分析する", now_new_answers_path
          - else
            現在の分析結果を表示する
      .main-text__center--present-bar
        %i.fa.fa-times.times02
        / チャートに関する記述ここから
        #status-wrapper
          - nInde = @now_total_rank[0]
          - nExec = @now_total_rank[1]
          - nCrea = @now_total_rank[2]
          - nPlan = @now_total_rank[3]
          - nTeam = @now_total_rank[4]
          - nComm = @now_total_rank[5]
          #status-now-independence{data: {now_inde: nInde}}
            = "現在『主体性』累計: #{nInde}ポイント" 
          #status-now-execution{data: {now_exec: nExec}}
            = "現在『実行力』累計: #{nExec}ポイント"
          #status-now-creativity{data: {now_crea: nCrea}}
            = "現在『創造力』累計: #{nCrea}ポイント"
          #status-now-planning{data: {now_plan: nPlan}}
            = "現在『計画力』累計: #{nPlan}ポイント"
          #status-now-teamwork{data: {now_team: nTeam}}
            = "現在『チームワーク』累計: #{nTeam}ポイント"
          #status-now-communication{data: {now_comm: nComm}}
            = "現在『コミュニケーション』累計: #{nComm}ポイント"
          / チャート描画
          %canvas#nChart{height: "400",  width: "400"}
          = link_to "診断結果の詳細を見る", now_index_answers_path
          / ここまで
          - if @now_total_rank != [0, 0, 0, 0, 0, 0]
            = link_to "回答を全て削除する", now_destroy_answers_path, method: :delete
    .main-text__right
      %i.fa.fa-certificate.main-text__right--icon
        .main-text__right--icon__click
          - if @future_total_rank == [0, 0, 0, 0, 0, 0]
            = link_to "未来を分析する", future_new_answers_path
          - else
            未来の分析結果を表示する
      .main-text__right--future-bar
        %i.fa.fa-times.times03
        / チャートに関する記述ここから
        #status-wrapper
          - fInde = @future_total_rank[0]
          - fExec = @future_total_rank[1]
          - fCrea = @future_total_rank[2]
          - fPlan = @future_total_rank[3]
          - fTeam = @future_total_rank[4]
          - fComm = @future_total_rank[5]
          #status-future-independence{data: {future_inde: fInde}}
            = "未来『主体性』累計: #{fInde}ポイント" 
          #status-future-execution{data: {future_exec: fExec}}
            = "未来『実行力』累計: #{fExec}ポイント"
          #status-future-creativity{data: {future_crea: fCrea}}
            = "未来『創造力』累計: #{fCrea}ポイント"
          #status-future-planning{data: {future_plan: fPlan}}
            = "未来『計画力』累計: #{fPlan}ポイント"
          #status-future-teamwork{data: {future_team: fTeam}}
            = "未来『チームワーク』累計: #{fTeam}ポイント"
          #status-future-communication{data: {future_comm: fComm}}
            = "未来『コミュニケーション』累計: #{fComm}ポイント"
          / チャート描画
          %canvas#fChart{height: "400",  width: "400"}
          = link_to "診断結果の詳細を見る", future_index_answers_path
          / ここまで
          - if @future_total_rank != [0, 0, 0, 0, 0, 0]
            = link_to "回答を全て削除する", future_destroy_answers_path, method: :delete
cd ~
- else
  .all
    .body
      .body--top
        .body--top__new
        .body--top__new
        .body--top__new.new01
          .new01--hidden
          .body--top__new--btn
            = link_to "新規登録", new_user_registration_path
      .body--center
        .body--center__h1
          This is Me
        %ul.body--center__h2
          %li.body--center__h2--comment-text
            過去の自分
          %li.body--center__h2--comment-text
            未来の目標
          %li.body--center__h2--comment-text
            現在やらなくてはいけないこと
      .body--bottom
        .body--bottom__log-in
          = link_to "ログイン", new_user_session_path
      .body--description-line
    .description
