.answer-body
  .answer-body__form
    .answer-body__form__new
      = form_with model: @answer, local: true, class: 'answer-body__form__new--form' do |form|
        - @questions_past.each do |question|
          = question.content
          .field
            = form.label :レベル
            .field-sexual-info
              = form.label "5"
              = form.radio_button :rank, 0
              = form.label "4"
              = form.radio_button :rank, 1
              = form.label "3"
              = form.radio_button :rank, 2
              = form.label "2"
              = form.radio_button :rank, 3
              = form.label "1"
              = form.radio_button :rank, 4
          = form.label :reason, "reason" do
            = form.text_area :reason, placeholder: "reason", class: 'title'
          = form.submit "送信", class: 'send'
    .answer-body__form__none
      .answer-body__form__none__label
        .steam
          %img{:src => "https://www.tam-tam.co.jp/tipsnote/sample/uenaka/180119/svg/steam.svg"}/
        .steam2
          %img{:src => "https://www.tam-tam.co.jp/tipsnote/sample/uenaka/180119/svg/steam.svg"}/

    -# = link_to admin_questions_path do
    -#   condition
