= render 'home/header'
.answer-body
  .answer-body__left
  .answer-body__center
    = form_with model: @answer, local: true, class: 'form' do |form|
      - @questions_past.each do |question|
        = question.content
        .field
          = form.label :レベル
          .field-sexual-info
            = form.label "5"
            = form.radio_button :rank, 0
            = form.label "4"
            = form.radio_button :rank, 1
            = form.label "3"
            = form.radio_button :rank, 2
            = form.label "2"
            = form.radio_button :rank, 3
            = form.label "1"
            = form.radio_button :rank, 4
        = form.label :content, "content" do
          = form.text_area :content, placeholder: "content", class: 'title'
        = form.submit "送信", class: 'send'
  .answer-body__right
    = link_to admin_questions_path do
      condition
