.question
  .question__form
    .question__form__new
      = form_with model: [:admin, @question], local: true, class: 'question__form__new--form' do |form|
        ステータス
        = form.label :status, "status", class: "question__form__new--form__status" do
          = form.select :status, {}, {}, {class: "select-status"} do
            %option{value: 0} 過去
            %option{value: 1} 現在
            %option{value: 2} 未来
        質問の内容
        = form.label :content, "content" do
          = form.text_area :content, placeholder: "content", class: 'title'
        = form.submit "送信", class: 'send'
    .question__form__none
      .question__form__none__label
        .steam
          %img{:src => "https://www.tam-tam.co.jp/tipsnote/sample/uenaka/180119/svg/steam.svg"}/
        .steam2
          %img{:src => "https://www.tam-tam.co.jp/tipsnote/sample/uenaka/180119/svg/steam.svg"}/

  -# #main
  -#   .steam
  -#     %img{:src => "https://www.tam-tam.co.jp/tipsnote/sample/uenaka/180119/svg/steam.svg"}/
  -#   .steam2
  -#     %img{:src => "https://www.tam-tam.co.jp/tipsnote/sample/uenaka/180119/svg/steam.svg"}/
  -#   #photo
  -#     %img{:src => "https://www.tam-tam.co.jp/tipsnote/sample/uenaka/180119/img/mask.png"}/
