.header
  .header__left
    = link_to(root_path, class: "header__left--btn") do
      %i.fa.fa-coffee.header__left--btn__icon
  .header__center
    .header__center__text
      = link_to(root_path, class: "header__center--btn") do
        This is Me
.main
  %h2.title Log in
  .sections
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .field
        = f.label :email
        %br/
        = f.email_field :email, autofocus: true, autocomplete: "email"
      .field
        = f.label :password
        %br/
        = f.password_field :password, autocomplete: "current-password"
      .actions
        = f.submit "Log in"
